@charset "UTF-8";
/* CSS Document */


/* reset */
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
i { font-style:normal; }
strong { font-weight:normal; }
b { font-weight:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { display:block; border:0; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/* end reset */


/* public */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }
/* end public */